<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!-- For Local Development -->
		<add name="LocalConnection"
             connectionString="Server=.\MSSQLSERVER2022;Database=LMS;Trusted_Connection=True;Integrated Security=true;"
             providerName="System.Data.SqlClient" />

		<!-- For Online/Production Server -->
		<add name="ProductionConnection"
             connectionString="Server=SERVER_NAME,PORT;Database=DB_NAME;User Id=DB_USERNAME;Password=DB_PASS;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Set to false for production -->
		<add key="UseLocalDatabase" value="true" />
	</appSettings>
</configuration>