/****** Object:  Table [dbo].[Books]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](150) NULL,
	[Publisher] [nvarchar](150) NULL,
	[PublishedYear] [int] NULL,
	[Category] [nvarchar](100) NULL,
	[Quantity] [int] NOT NULL,
	[AvailableQuantity] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowReturn]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowReturn](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[BorrowerName] [nvarchar](150) NOT NULL,
	[BorrowerContact] [nvarchar](100) NULL,
	[BorrowDate] [datetime] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[StaffID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [text] NULL,
 CONSTRAINT [PK__Staff__96D4AAF7BE1F980D] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [ISBN], [Title], [Author], [Publisher], [PublishedYear], [Category], [Quantity], [AvailableQuantity], [CreatedAt]) VALUES (1, N'9780143127741', N'The Alchemist', N'Paulo Coelho', N'HarperOne', 2014, N'Fiction', 1, 0, CAST(N'2025-10-03T11:43:37.797' AS DateTime))
INSERT [dbo].[Books] ([BookID], [ISBN], [Title], [Author], [Publisher], [PublishedYear], [Category], [Quantity], [AvailableQuantity], [CreatedAt]) VALUES (2, N'9780131103627', N'The C Programming Language', N'Kernighan & Ritchie', N'Prentice Hall', 1999, N'Programming', 1, 1, CAST(N'2025-10-03T11:43:37.797' AS DateTime))
INSERT [dbo].[Books] ([BookID], [ISBN], [Title], [Author], [Publisher], [PublishedYear], [Category], [Quantity], [AvailableQuantity], [CreatedAt]) VALUES (7, N'9780143127745', N'Java Programming Language 2025', N'Yeab Chnaya', N'Yeab Chnaya', 2025, N'Programming', 33, 33, CAST(N'2025-10-25T15:45:48.430' AS DateTime))
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[BorrowReturn] ON 

INSERT [dbo].[BorrowReturn] ([TransactionID], [BookID], [BorrowerName], [BorrowerContact], [BorrowDate], [DueDate], [ReturnDate], [Status], [StaffID]) VALUES (21, 1, N'sokchheng', N'099601858', CAST(N'2025-11-06T20:22:24.730' AS DateTime), CAST(N'2025-11-06T20:21:50.323' AS DateTime), NULL, N'Borrowed', 3)
INSERT [dbo].[BorrowReturn] ([TransactionID], [BookID], [BorrowerName], [BorrowerContact], [BorrowDate], [DueDate], [ReturnDate], [Status], [StaffID]) VALUES (22, 28, N'yeab chanya', N'0891234567', CAST(N'2025-11-07T12:32:10.360' AS DateTime), CAST(N'2025-11-07T12:31:27.227' AS DateTime), NULL, N'Borrowed', 3)
SET IDENTITY_INSERT [dbo].[BorrowReturn] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffID], [FullName], [Email], [Phone], [Role], [CreatedAt], [Username], [Password]) VALUES (1, N'Sok Dara', N'dara.sok@example.com', N'0978123456', N'Cashier', CAST(N'2025-10-25T09:45:10.120' AS DateTime), N'dara_s', N'pass123')
INSERT [dbo].[Staff] ([StaffID], [FullName], [Email], [Phone], [Role], [CreatedAt], [Username], [Password]) VALUES (2, N'Kim Sreyleak', N'sreyleak.kim@example.com', N'0887654321', N'Librarian', CAST(N'2025-10-26T15:20:30.500' AS DateTime), N'sreyleak', N'leak@2025')
INSERT [dbo].[Staff] ([StaffID], [FullName], [Email], [Phone], [Role], [CreatedAt], [Username], [Password]) VALUES (3, N'Vang Sokchheng', N'sokchheng802@gmail.com', N'099601858', N'Admin', CAST(N'2025-10-23T21:32:22.193' AS DateTime), N'sokchheng', N'123')

SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__447D36EA9BE40127]    Script Date: 11/7/2025 12:41:41 PM ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__A9D10534152C0E69]    Script Date: 11/7/2025 12:41:41 PM ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [UQ__Staff__A9D10534152C0E69] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [AvailableQuantity]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BorrowReturn] ADD  DEFAULT (getdate()) FOR [BorrowDate]
GO
ALTER TABLE [dbo].[BorrowReturn] ADD  DEFAULT ('Borrowed') FOR [Status]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF__Staff__Role__3E52440B]  DEFAULT ('Librarian') FOR [Role]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF__Staff__CreatedAt__3F466844]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BorrowReturn]  WITH CHECK ADD FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[BorrowReturn]  WITH CHECK ADD  CONSTRAINT [FK__BorrowRet__Staff__44FF419A] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[BorrowReturn] CHECK CONSTRAINT [FK__BorrowRet__Staff__44FF419A]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddBook]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================
-- Add New Book
-- ==========================================
CREATE PROCEDURE [dbo].[sp_AddBook]
    @ISBN VARCHAR(20),
    @Title NVARCHAR(200),
    @Author NVARCHAR(150),
    @Publisher NVARCHAR(150),
    @PublishedYear INT,
    @Category NVARCHAR(100),
    @Quantity INT
AS
BEGIN
    INSERT INTO Books (ISBN, Title, Author, Publisher, PublishedYear, Category, Quantity, AvailableQuantity)
    VALUES (@ISBN, @Title, @Author, @Publisher, @PublishedYear, @Category, @Quantity, @Quantity);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddStaff]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- Add Staff
-- ==========================================

CREATE PROCEDURE [dbo].[sp_AddStaff]
    @FullName NVARCHAR(150),
    @Email NVARCHAR(100),
    @Phone VARCHAR(20),
    @Role NVARCHAR(50),
	@U NVARCHAR(50),
	@P TEXT

AS
BEGIN
    INSERT INTO Staff (FullName, Email, Phone, Username, Password, Role, CreatedAt)
    VALUES (@FullName, @Email, @Phone, @U, @P, @Role,  GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BorrowBook]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
--		PROC BorrowBook
-- ==========================================
CREATE PROCEDURE [dbo].[sp_BorrowBook]
    @BookID INT,
    @BorrowerName NVARCHAR(150),
    @BorrowerContact NVARCHAR(100),
    @DueDate DATETIME,
    @StaffID INT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Check availability
        DECLARE @Available INT;
        SELECT @Available = AvailableQuantity FROM Books WHERE BookID = @BookID;

        IF @Available <= 0
        BEGIN
            RAISERROR('Book not available', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Add borrow record
        INSERT INTO BorrowReturn (BookID, BorrowerName, BorrowerContact, DueDate, Status, StaffID)
        VALUES (@BookID, @BorrowerName, @BorrowerContact, @DueDate, 'Borrowed', @StaffID);

        -- Update available quantity
        UPDATE Books
        SET AvailableQuantity = AvailableQuantity - 1
        WHERE BookID = @BookID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBook]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- Delete Book
-- ==========================================
CREATE PROCEDURE [dbo].[sp_DeleteBook]
    @BookID INT
AS
BEGIN
    DELETE FROM Books WHERE BookID = @BookID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteStaff]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete Staff
CREATE PROCEDURE [dbo].[sp_DeleteStaff]
    @StaffID INT
AS
BEGIN
    DELETE FROM Staff WHERE StaffID = @StaffID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBooks]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- Get All Books
-- ==========================================
CREATE PROCEDURE [dbo].[sp_GetBooks]
AS
BEGIN
    SELECT * FROM Books ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBorrowRecords]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- GetBorrowRecords
-- ==========================================
CREATE PROCEDURE [dbo].[sp_GetBorrowRecords]
    @Status NVARCHAR(20) = NULL
AS
BEGIN
    SELECT 
        br.TransactionID,
        b.Title AS BookTitle,
        br.BorrowerName,
		br.BorrowerContact,
        br.BorrowDate,
        br.DueDate,
        br.ReturnDate,
        br.Status,
        s.FullName AS StaffName
    FROM BorrowReturn br
    JOIN Books b ON br.BookID = b.BookID
    JOIN Staff s ON br.StaffID = s.StaffID
    WHERE 
        (@Status IS NULL)
        OR (br.Status = @Status)
    ORDER BY br.BorrowDate DESC;
END


GO
/****** Object:  StoredProcedure [dbo].[sp_GetStaff]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get All Staff
CREATE PROCEDURE [dbo].[sp_GetStaff]
AS
BEGIN
    SELECT * FROM Staff ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStaffAccount]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SELECT * FROM Staff

CREATE PROCEDURE [dbo].[sp_GetStaffAccount]
AS
BEGIN
    SELECT Username, Password, FullName, Role
    FROM dbo.Staff;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveBorrowRecord]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- Update Book
-- ==========================================
CREATE PROCEDURE [dbo].[sp_RemoveBorrowRecord]
    @TransactionID INT
AS
BEGIN
    
    DELETE BorrowReturn
    WHERE TransactionID = @TransactionID;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ReturnBook]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ==========================================
-- ReturnBook
-- ==========================================
CREATE PROCEDURE [dbo].[sp_ReturnBook]
    @TransactionID INT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @BookID INT;

        SELECT @BookID = BookID 
        FROM BorrowReturn 
        WHERE TransactionID = @TransactionID AND Status = 'Borrowed';

        IF @BookID IS NULL
        BEGIN
            RAISERROR('Invalid transaction or book already returned', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Update BorrowReturn
        UPDATE BorrowReturn
        SET ReturnDate = GETDATE(),
            Status = 'Returned'
        WHERE TransactionID = @TransactionID;

        -- Update Books
        UPDATE Books
        SET AvailableQuantity = AvailableQuantity + 1
        WHERE BookID = @BookID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBook]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- Update Book
-- ==========================================
CREATE PROCEDURE [dbo].[sp_UpdateBook]
    @BookID INT,
    @Title NVARCHAR(200),
    @Author NVARCHAR(150),
    @Publisher NVARCHAR(150),
    @PublishedYear INT,
    @Category NVARCHAR(100),
    @Quantity INT
AS
BEGIN
    DECLARE @OldQty INT, @OldAQ INT;

    SELECT @OldQty = Quantity,
           @OldAQ = AvailableQuantity
    FROM Books
    WHERE BookID = @BookID;

    DECLARE @Diff INT = @Quantity - @OldQty;

    UPDATE Books
    SET Title = @Title,
        Author = @Author,
        Publisher = @Publisher,
        PublishedYear = @PublishedYear,
        Category = @Category,
        Quantity = @Quantity,
        AvailableQuantity = @OldAQ + @Diff
    WHERE BookID = @BookID;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStaff]    Script Date: 11/7/2025 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update Staff
CREATE PROCEDURE [dbo].[sp_UpdateStaff]
    @StaffID INT,
    @FullName NVARCHAR(150),
    @Email NVARCHAR(100),
    @Phone VARCHAR(20),
    @Role NVARCHAR(50),
	@U NVARCHAR(50),
	@P TEXT
AS
BEGIN
    UPDATE Staff
    SET FullName = @FullName,
        Email = @Email,
        Phone = @Phone,
        Role = @Role,
		Username = @U,
		Password = COALESCE(@P, password)
    WHERE StaffID = @StaffID;
END
GO
